@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

#calendar {
  padding: 8px;
  margin: 0 auto;
  width: auto;
}

#title {
  position: static;
}